html, body {
    font-size: 62%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(
        to right,
        rgb(1.6, 16.1, 25.1)50%,
        rgb(0.0, 36.1, 32.5)50% 
    );
    color: #fff;
}

h1, h2 {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0.1em 0.1em 0.2em #DBF227;
}

h1 {
    font-size: 3.5rem;
    margin-top: 15%;
}

h2 {
    font-size: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #151515;
    color: #fff;
    font-size: 1.6rem;
}

.footer-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: baseline;
    margin-left: 5%;
    margin-right: 5%;
}

.footer-conteiner h5 {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
}

.footer-social img {
    width: 90%;
}

.footer-list{
    display: flex;
    justify-items: flex-start;
    list-style: none;
}

.footer-list li {
    margin-left: 10%;
}
